.input {
	text-indent: 15px;
	height: 40px;
	width: 200px;
	border: none;
	background: transparent;
	font-style: italic;
	border-bottom: 1px solid lightgrey;
	color: black;
	font-weight: bold;
	outline: none;
	font-size: 15px;
}

.cols-form {
	background: transparent;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto;
	color: #EC494F;
	margin: 100px 100px;
	font-weight: bold;
}

.cols-form img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

/*a {
	color: black;
	font-size: 14px;
}*/

label {
	margin-top: 15px;
	margin-bottom: 15px;
}

button {
	margin: 15px 15px;
	height: 30px;
	width: auto;
	border: none;
	border-radius: 10px;
	background: linear-gradient(to bottom, #ff5050 0%, #ff6699 100%);
	;
	font-weight: bold;
	outline: none;
	/*color: white;*/
}

/*button:hover{
	background: linear-gradient(to bottom, #ff5050 0%, #cc0066 100%);
}*/
body {
	/*background-image: url("images/simple.jpg");*/

	color: #EC494F;
	font-family: sans-serif;
	grid-template-columns: auto;
	align-items: center;
	font-family: Comic Sans MS;
}

#profile img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	border: 3px solid #cc0066;
}

#history img {
	height: 250px;
	width: 250px;
}