		input{
			text-indent: 15px;
			height: 30px;
			border: none;
			background: transparent;
			font-style: italic;
			border-bottom: 1px solid lightgrey;
			color: black;
			outline: none;
		}
		.login-form{
			/*width: auto;
			height: auto;
			padding: 10px 40px; */                                        
			background: transparent;
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: auto;
			color: white;
			margin: 100px 100px;
		}
		a{
			color: lightblue;
			font-size: 14px;
		}
		label{
			margin-top: 15px;
			margin-bottom: 15px;
		}
		button{
			margin: 15px 15px;
			height: 30px;
			border:none;
			border-radius: 10px;
			background: lightblue;
			font-weight: bold;
			outline: none;
		}
		button:hover{
			background: yellow;
		}
		body{
			background-image: url("images/bgr.jpg");
			display: flex;
			font-family: sans-serif;
			justify-content: center;
			align-items: center;

		}
		span{
			font-size: 12px;
			display: flex;
			align-items: center;
			text-align: center;
			margin-top: 10px;
		}